/* General */

body {
  font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  background-color: #f4f1de;

  /*
  width: 70%;
  margin: 0 auto;
  */
}

#content {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #3d405b; /* independence */
}

.flex-container {
  display: flex;
}

h3 {
    color: #81b29a;
}

/* Navigation bar */
#nav-list {
  list-style-type: none;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #e07a5f;
}

.nav-li {
  float: left;
  border-right: 1px solid white;
}

.nav-li a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  font-weight: bold;
  color: white;
}

li a:hover {
  background-color: #3d405b; /* independence */
}

.active {
  background-color: #3d405b; /* independence */
}

/* Header */
#header {
  text-align: center;
}

/* About Page - Body */
#body {
  flex-direction: row;
}

.about-div {
  padding: 15px 25px;
  width: 50%; 
}

#profile-pic {
  width: 300px;
  padding: 15px;
}

#pic-background {
  width: 25%; 
  background-color: #f2cc8f;
  text-align: center;
}

.subtitle {
  font-style: italic;
}

/* Fact generator */
#fact-container {
  margin-top: 20px;
}
