.bottomRow {
  padding: 15px;
}

.center {
  margin: auto;
  text-align: center;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  position: relative;
}

.hero-text {
  color: white;
  font-size: 40px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 60px;
}

.profile_img {
  height: 23vw;
}

.textbox {
  background: #333333;
  border: 2px solid #333333;
  border-radius: 15px;
}

.textbox h1 {
  font-size: 2.5vw;
}

.textbox p {
  font-size: 1.25vw;
}

.topRow {
  padding: 15px;
}

#chart-container {
  display: block;
  height: 500px;
  margin: 0 auto;
  width: 600px;
}

#quote-container {
  color: #fff;
  margin: 20px;
}

#map {
  border: thin solid black;
  height: 705px;
  margin: 20px auto;
  padding: 10px;
  width: 705px;
}

div.animate a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

div.animate a:before {
  top: 0px;
  transform: translateY(10px);
}

div.animate a:before,
div.animate a:after {
  background-color: #e7e7e7;
  content: '';
  height: 1px;
  left: 0px;
  opacity: 1;
  position: absolute;
  transition: all 0.5s;
  width: 100%;
}

div.animate a:hover:before,
div.animate a:hover:after {
  opacity: 0;
  transform: translateY(0px);
}

div.go {
  background-color: #000000;
  border-radius: 0px 0px 15px 15px;
  margin: 0 auto;
  padding: 2em 2em;
  text-align: center;
  width: 100%;
}

div.go a {
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  margin: 0px 10px;
  padding: 20px 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

div.grey {
  background-color: #121212;
}

div.main-content {
  background-color: #121212;
  color: #fff;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

iframe {
  border: 0;
}

footer {
  background: #000000;
  bottom: 0;
  color: #e7e7e7;
  flex-shrink: 0;
  height: 3em;
  left: 0;
  margin: auto;
  position: relative;
  text-align: center;
  width: 100%;
}

html,
body {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
}
